h1 {
  /* màu chư */
  color: blue;
  /* kiểu phông */
  font-style: italic;
  /* phông chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* chuyển hoa thường */
  text-transform: capitalize;
  /* căn lề */
  text-align: center;
  /* cỡ chữ dùng bằng pixel*/
  font-size: 35px;
}
